table(style='width:100%', border='1')
  tr
    th Title
    th Type
    th Description
    th Price
    th Rating
  tr
    td #{product.title}
    td #{product.type}
    td #{product.description}
    td #{product.price}
    td #{product.rating}

