table(style='width:100%', border='1')
  tr
    th Name
    th Email Address
    th Phone Number
    th UserName
    th Password
  tr
    td #{user.name}
    td #{user.email}
    td #{user.phone}
    td #{user.username}
    td #{user.password}

